.TabLabel {
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: solid gray 2px;
    font-weight: bold;
    text-align: center;
    padding:5px;
    width: 65%;
    margin:auto;
}

.BrandValue {
    height: 100px;
    padding:10px;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.StatValue{
    text-align: center;
    margin:0px;
    padding:10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 100%;
    border-radius: 15px;
}

.BrandsTable tr:last-child {
    border-radius: 20px;
    
}

.BrandsTable tr:last-child td {
    width:100%;
    background-color: darkgray;
    border-radius: 20px;
}

.StatsTable tr:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.StatsTable tr:last-child {
    border-radius: 10px;
}

.StatsTable tr:last-child td{
    background-color: darkgray;
    border-right: solid gray 3px;
}

.StatsTable tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-right: solid gray 3px;
}

.StatsTable tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: solid gray 3px;
}

.StatsTable tr td:last-child{
    border-right: 0px;
}