<div class="row" style="margin: 20px 0px;">
  <div class="col-sm-8">
    <table class="StatsTable">
      <tr>
        <td *ngFor="let stat of Character.stats">
          <div class="TabLabel" [ngStyle]="{'background-color': stat.color}">
            {{stat.name}}
          </div>
        </td>
      </tr>
      <tr>
        <td *ngFor="let stat of Character.stats">
          <div class="StatValue">
            <div class="StatContainer">
              <h1>{{stat.current}}</h1>
              <p>Max: {{stat.max}}</p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-4">
    <table class="BrandsTable">
      <tr>
        <td>
          <div class="TabLabel">
            Brands
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="BrandValue">
            <h2>Brand Dropdown</h2>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="WornContainer">
  <div class="row">
    <div class="WornLabel">
      <div class="row">
        <div class="col-sm-11 col-xs-11">
          <h3 mat-subheader>Worn</h3>
        </div>
        <div class="col-sm-1 col-xs-1">
          <img src="../../assets/imgs/{{Character.img}}" style="width:40px" />
        </div>
      </div>
    </div>
    <div cdkDropList class="col-sm-10 Items" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of Character.worn.items" cdkDrag>
        <div class="row">
          <div class="col-sm-1 col-xs-1" style="text-align: center">
            <img src="../../assets/imgs/{{item.img}}" style="width:25px; margin-top: 8px" />
          </div>
          <div class="col-sm-11  col-xs-11">
            <h4>{{item.name}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="WornContainer">
  <div class="row">
    <div class="WornLabel">
      <div class="row">
        <div class="col-sm-11 col-xs-11">
          <h3 mat-subheader>RuckSack</h3>
        </div>
        <div class="col-sm-1 col-xs-1">
          <img src="../../assets/imgs/rucksack.png" style="width:50px" />
        </div>
      </div>
    </div>
    <div cdkDropList class="col-sm-10 Items" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of Character.worn.items" cdkDrag>
        <div class="row">
          <div class="col-sm-1 col-xs-1" style="text-align: center">
            <img src="../../assets/imgs/{{item.img}}" style="width:25px; margin-top: 8px" />
          </div>
          <div class="col-sm-11  col-xs-11">
            <h4>{{item.name}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>