<div class="row" style="margin: 20px 0px;">
  <div class="col-sm-8">
    <table class="StatsTable">
      <tr>
        <td *ngFor="let stat of Character.stats">
          <div class="TabLabel" [ngStyle]="{'background-color': stat.color}">
            {{stat.name}}
          </div>
        </td>
      </tr>
      <tr>
        <td *ngFor="let stat of Character.stats">
          <div class="StatValue">
            <div class="StatContainer">
              <h1>{{stat.current}}</h1>
              <p>Max: {{stat.max}}</p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-4">
    <table class="BrandsTable">
      <tr>
        <td>
          <div class="TabLabel">
            Brands
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="BrandValue">
            <h2>Brand Dropdown</h2>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="GearContainer">
    <mat-list>
      <h3 mat-subheader>Gear</h3>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{folder.name}}</h4>
        <p mat-line> {{folder.updated | date}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Notes</h3>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{note.name}}</h4>
        <p mat-line> {{note.updated | date}} </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<div class="row">
  <div class="RuckContainer">
    <mat-list>
      <h3 mat-subheader>Rucksack</h3>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{folder.name}}</h4>
        <p mat-line> {{folder.updated | date}} </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Notes</h3>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>{{note.name}}</h4>
        <p mat-line> {{note.updated | date}} </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>