<h3>It is {{Game.turn.name}}'s turn</h3>
<div cdkDropListGroup>
  <table>
    <tr *ngFor="let row of Game.map.spaces; let x = index">
      <td *ngFor="let col of row; let y = index"
      [class.empty] = "col.state == 0"
        [class.occupied] = "col.state == 1"
        [class.solid] = "col.state == 2"
        [class.drop] = "col.state == 3"
        [class.turn] = "col.state == 4">
        <div  cdkDropList cdkDropListSortingDisabled
              id="{{x}},{{y}}"
              [cdkDropListData]="col.player"
              (cdkDropListDropped)="drop($event)"
              [cdkDropListEnterPredicate]="isOccupied"
              style="width:100%; height:100%">
          <div *ngFor="let player of col.player" cdkDrag
          [cdkDragDisabled]="player.notMyTurn">
            <img width="95%" [src]="player.img"/>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div> 