table {
    border: 1px solid black;
    border-spacing: 0px;

}

td{
    border:1px solid black;
    height: 4vw;
    width: 4vw;
    text-align: center;
    color: white;
    /* min-width: 75px; */
}


.turn {
    background-color: blue;
}

.empty {
    background-color: transparent;
    cursor: grab;
}

table .empty:hover {
    background-color: blue;
}

.occupied{
    background-color: green;
}

.solid{
    background-color: black;
}

.drop {
    background-color: lightgray;
}

.EndTurnButton{
    background-color: green;
    color: white;
    margin-right:10px;
}