table {
    border: 1px solid black;
    border-spacing: 0px;
}

td{
    border:1px solid black;
    width: 75px;
    height: 75px;
    text-align: center;
    color: white;
}


.empty {
    background-color: transparent;
    cursor: grab;
}

table .empty:hover {
    background-color: blue;
}

.occupied{
    background-color: green;
}

.solid{
    background-color: black;
}

.drop {
    background-color: lightgray;
}